*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.main-section{
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.main-section__title{
    margin-bottom: 15px;
    color: #667eea;
}
.example-row{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.example-box{
    background: #667eea;
    color: #040303;
    padding: 40px 60px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
.shadow-basic{
    box-shadow: 5px 5px 10px rgba(210, 24, 86, 0.2);

}
.shadow-blur{
    box-shadow: 15px 15px 30px rgba(9, 8, 9, 0.2);
}
.shadow-multiple{
    box-shadow: 
    0px  4px 8px rgba(58, 236, 14, 0.2),
    0px 8px 16px rgba(225, 23, 195, 0.2),
    0px 16px 32px rgba(84, 10, 196, 0.2),
    0px 32px 64px rgba(208, 234, 60, 0.2);
}
.shadow-basic-text{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.shadow-glow{
    text-shadow: 
    0px 0px 5px rgba(227, 31, 31, 0.918),
    2px 2px 4px rgba(208, 234, 60, 0.2),
    0px 0px 15px rgba(58, 236, 14, 0.2);
    
}
.border-radius{
    border-radius: 25px 50px 25px 50px;
}
.border-image{
    border: 10px solid;
    border-image: linear-gradient(45deg, rgb(237, 99, 209), rgb(17, 17, 155)) 2 fill;
}
.outline-effect{
outline: 10px solid rgb(95, 206, 124);
outline-offset: 10px;
}
.blur-filter{
    filter: blur(1px);
}