*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
.bg-section{
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.bg-section__title{
    margin-bottom: 15px;
    color: #667eea;
}
.example-row{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.example-box{
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaeaea;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.color{
    background-color: #667eea;
}
.rgba{
background-color: rgba(71,89,154,0.8);
}

.repeated{
background-image: url(https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg);
width: 200px;
height: 150px;
background-repeat: repeat;
background-size: 50px 50px;
}
.cover{
background-image: url(https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg);
width: 200px;
height: 150px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.contain{
background-image: url(https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg);
width: 200px;
height: 150px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.center{
background-image: url(https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg);
width: 200px;
height: 150px;
background-repeat: no-repeat;
background-position: center;
background-color: #667eea;
background-size: 50px 50px;
}

.left{
background-image: url(https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg);
width: 200px;
height: 150px;
background-repeat: no-repeat;
background-position: left bottom;
background-color: #667eea;
background-size: 50px 50px;
}
.right{
background-image: url(https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg);
width: 200px;
height: 150px;
background-repeat: no-repeat;
background-position: right top;
background-color: #667eea;
background-size: 50px 50px;
}

.linear{
   width: 200px;
   height: 150px;
   background: linear-gradient(to right, #667eea, #764ba2);
}
.radial{
    width: 200px;
   height: 150px;
   background: radial-gradient(circle, #667eea, #764ba2);
}
.conic{
width: 200px;
height: 150px;
background: conic-gradient(red, yellow, green, blue, pink); 
}

.fixed{
background-image: url(https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg);
width: 100%;
height: 200px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}