@use "sass:color";
// variables
$primary-color: royalblue;
$primary-hover: darkblue;
$swiper-bg: #667eea;

$border-radius: 5px;
$swiper-radius: 10px;
$btn-padding: 10px 20px;
$swiper-margin: 20px 0;

// mixins
@mixin button-styles{
    background-color: $primary-color;
    color: white;
    padding: $btn-padding;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;

    &:hover{
    background-color: $primary-hover;
}
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin swiper-slide-styles{
    @include flex-center;
    background-color: $swiper-bg;
    color: white;
}

.buttonClass {
    @include button-styles;
}

.swiper{
    width: 100%;
    margin: $swiper-margin;

    &-wrapper {
        height: 200px;
        border-radius: $swiper-radius;
    }
    &-slide {
        @include swiper-slide-styles;
    }

    &-button-prev, &-button-next {
        color: white;
    }

}

